<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_MEDIA_PROJECTION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" android:maxSdkVersion="29" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <queries>
        <package android:name="com.zhiliaoapp.musically" />
        <package android:name="com.ss.android.ugc.trill" />
        <intent><action android:name="android.intent.action.VIEW" /><data android:scheme="https" /></intent>
    </queries>
    <application android:allowBackup="true" android:icon="@mipmap/ic_launcher" android:label="TikAI Tool" android:roundIcon="@mipmap/ic_launcher_round" android:supportsRtl="true" android:theme="@style/Theme.TikAITool" android:largeHeap="true" tools:targetApi="34">
        <activity android:name=".ui.MainActivity" android:exported="true" android:screenOrientation="portrait">
            <intent-filter><action android:name="android.intent.action.MAIN" /><category android:name="android.intent.category.LAUNCHER" /></intent-filter>
        </activity>
        <activity android:name=".ui.CropAnalyzeActivity" android:exported="false" android:theme="@style/Theme.Transparent" android:screenOrientation="portrait" />
        <activity android:name=".ui.ResultActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ui.SettingsActivity" android:exported="false" android:screenOrientation="portrait" />
        <activity android:name=".ui.DownloadsActivity" android:exported="false" android:screenOrientation="portrait" />
        <service android:name=".service.OverlayService" android:exported="false" android:foregroundServiceType="mediaProjection" />
        <service android:name=".service.DownloadService" android:exported="false" android:foregroundServiceType="dataSync" />
        <provider android:name="androidx.core.content.FileProvider" android:authorities="${applicationId}.fileprovider" android:exported="false" android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>
    </application>
</manifest>